.container-header {
    background-color: #FFC700;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header img {
    display: flex;
    justify-content: center;
    align-items: center;
}



.c-left img {

}